wheel
speedtest-cli
Pillow
cryptg
# Telegram connection
git+https://github.com/LonamiWebs/Telethon@9c7ac3b

# Config
pythondialog

# Heroku
heroku3

# Python Git Library
gitpython

# Translations
babel

# Eval
meval

# Web
aiohttp_jinja2

# Async http client/server framework
aiohttp

# A very fast and expressive template engine.
Jinja2

# Python HTTP for Humans.
requests

# Inline buttons support
aiogram
